@import 'components/_vars.scss';
@import 'components/_mixins.scss';

// Default Button
.button {
  position: relative;
  height: 48px;
  border: 1px solid $colorFeatured;
  background-color: $colorFeatured;
  min-width: 200px;
  text-align: center;
  font-weight: $fontSemiBold;
  font-size: 16px;
  color: $colorWhite;
  text-transform: uppercase;
  padding: 0 35px;
  border-radius: 3px;
  transition: background-color 0.2s ease,
              border 0.2s ease;
  @include font-smooth;

  // icon
  svg {
    position: absolute;
    top: 15px;
    fill: $colorWhite;
    left: 20px;
  }

  // icon right
  &.button--icon-right svg {
    left: auto;
    right: 20px;
  }

  // Hover
  &:hover {
    background-color: $colorFeatured-hover;
    border-color: $colorFeatured-hover;
  }

  // Is loading
  &.is-loading {
    background-image: url(../../../images/loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: $colorGray-92;
    border-color: $colorGray-92;
    pointer-events: none;
    text-indent: -999px;
    cursor: default;
  }

  // Secondary
  &.button--secondary {
    background-color: $colorGray-49;
    border: 1px solid $colorGray-49;

    // Hover
    &:hover {
      background: lighten($colorGray-49, 10%);
      border-color: lighten($colorGray-49, 10%);
    }
  }

  // Tertiary
  &.button--tertiary {
    background-color: $colorGray-92;
    border: 1px solid $colorGray-92;
    color: $colorText;

    // icon
    svg {
      fill: $colorText;
    }

    // Hover
    &:hover {
      background: darken($colorGray-92, 7%);
      border-color: darken($colorGray-92, 7%);
    }
  }
}

// Hollow Button
.button.button--hollow {

  &:not(:hover) {
    background-color: transparent;
    color: $colorFeatured;

    svg {
      fill: $colorFeatured;
    }
  }

  // Secondary
  &.button--secondary:not(:hover) {
    color: $colorGray-49;

    svg {
      fill: $colorGray-49;
    }
  }

  // Tertiary
  &.button--tertiary:not(:hover) {
    color: $colorText;

    svg {
      fill: $colorText;
    }
  }
}

// Default Pill Button
.button--pill {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 50px;
  font-size: 14px;
  line-height: 12px;
  height: 36px;
  min-width: 100px;
  padding: 0 17px;

  // icon
  svg {
    top: 9px;
  }

  // icon left
  &.button--icon-left {
    padding-right: 20px;
    padding-left: 33px;

    svg
    {
      left: 15px;
    }
  }

  // icon right
  &.button--icon-right {
    padding-left: 20px;
    padding-right: 33px;

    svg {
      right: 15px;
    }
  }
}


